header {
	top: 0;
	background-color: black;
	color: white;
	text-align: center;
	height: 35px;
}

#titlebar {
	vertical-align: middle;
	height: 0px;
}

#toolbar {
	background-color: #CCCCCC;
	height:40px;
}

.separator {
	clear: both;
}

#nav {
	float: left;
	background: #eeeeee;
	height: 100%;
	width: 10%;
	vertical-align: top;
}

#commit-section {
	height: 800px;
	width: 15%;
	display: inline-block;
	vertical-align: top;
	overflow: auto;
}

#detail-section {
	height: 800px;
	width: 40%;
	display: inline-block;
	vertical-align: top;
	overflow: auto;
}

.footer {
	background-color: #CCCCCC;
	color: black;
	clear: both;
	vertical-align: bottom;
	padding: 5px;
	height:15px;
}

#git-toolbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.git-toolbar-btn {
	float: left;
	display: inline-block;
	color: white;
	text-align: center;
	text-decoration: none; 
	padding: 14px 16px;
} 

.commit {
	list-style-type: none;
}

clearBoth {
	clear: both;
}
