header {
	background-color: black;
	color: white;
	vertical-align: middle;
	text-align: center;
	height: 35px;
}

body {
	background-color: #cccccc;
	padding-top:0px;
	margin-top:0px;
}

table {
	border-collapse: separate;
	border-spacing: 7px;
}

tr {
	padding: 0px;
}

/* Alternate background colour in the commit table */
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #eef;
}

#titlebar {
	vertical-align: middle;
	height: 0px;
}

#toolbar {
	background-color: #CCCCCC;
	height:40px;
	padding:0px;
}

.separator {
	clear: both;
}

#branches {
	float: left;
	background: #eeeeee;
	height: 800px;
	width: 15%;
	vertical-align: top;
	overflow: auto;
	display: inline-block;
}

#commit-section {
	height: 450px;
	width: 75%;
	display: inline-block;
	vertical-align: top;
	overflow: auto;
}

#detail-section {
	height: 300px;
	width: 50%;
	display: inline-block;
	vertical-align: top;
	overflow: auto;
	background-color: #DDD;
	max-width: 55%;
	min-width: 300px;
}

.footer {
	background-color: #000000;
	color: white;
	clear: both;
	vertical-align: bottom;
	height:15px;
}

#git-toolbar {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #333;
}

#git-status {
	background-color: #CCC;
	float: left;
	width: 25%;
	overflow: auto;
	height: 350px;
}

.status-file-list {
	width: 100%;
	overflow: auto;
	height: 26%;
}

.files {
	list-style-type: none;
}

.git-toolbar-btn {
	float: left;
	display: inline-block;
	color: white;
	text-align: center;
	text-decoration: none; 
	padding: 14px 16px;
} 

.git-toolbar-btn-disabled {
	float: left;
	display: inline-block;
	color: grey;
	text-align: center;
	text-decoration: none; 
	padding: 14px 16px;
}

.git-toolbar-btn a:hover {
	background-color: #111;
}

.commit {
	list-style-type: none;
}

clearBoth {
	clear: both;
}

